<div id="hero">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-toggleable-md navbar-inverse">

        <!-- TODO: make navbar-brand responsive -->

        <i class="navbar-brand fa fa-balance-scale fa-3x">PLG</i>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end pt-4 pt-lg-1" id="navbarSupportedContent">
          <ul class="navbar-nav text-white">
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">Overview</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">Practice Areas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">FAQ</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">Schedule a Consultation</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">Events</a>
              </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="jumbotron jumbotron-fluid text-center text-white">
      <h1 id="hero-title">Pinkston Law Group</h1>
      <h2>
        <em>
        ​​  ​"Meeting your legal needs with professionalism and integrity."
        </em>
      </h2>
    </div>
  </div>
</div>
<div class="container text-white">
  <div class="row">
    <!-- TODO: make this part of like a Attorneys app -->
    <div class="card bg-inverse col-md-10 mx-auto p-sm-2 p-md-3 p-lg-4">
      <div class="text-center">
        <h1 id="card-title">
          Danielle A. Pinkston, Esq.
        </h1>
        <img src="assets/danielle-pinkston.jpg" alt="Danielle" class="p-3">
        <!-- TODO: canvas -->
        <!--<canvas height="450" width="320"></canvas>-->
      </div>
      <p>
        Danielle A. Pinkston is well known for vigorously advocating for her clients. Her legal research and writing, knowledge of the law, and ability to present clients' cases before the trier of fact, sets her apart from others and allows her to enjoy a successful solo practice. Danielle believes in preparing above and beyond what is required and that no one will outwork her.  In her spare time, she enjoys travelling, snorkeling, scuba diving, riding horse, dinning out, meeting new people, and being of service to others. Danielle firmly believes in collaborating with other attorneys and therefore there is never a case or legal issue is too big or too small.  If you have a legal problem, PLG can help you find a solution.
      </p>
      <button class="btn btn-lg btn-primary">Schedule a Consultation</button>
    </div>
    <p class="col-12 d-md-none"><br><br><br><br></p>
    <p class="col-12 d-none d-md-block"><br><br></p>
  </div>
</div>
<div class="fixed-bottom footer bg-primary text-white text-center d-md-none py-2">
  <div class="container">
    <div class="row justify-content-center">
      <button class="btn btn-outline-info px-4 px-md-5 mx-3 mx-md-2">
        <i class="fa fa-phone fa-2x"></i>
      </button>
      <button class="btn btn-outline-info px-4 px-md-5 mx-3 mx-md-2">
        <i class="fa fa-phone fa-2x"></i>
      </button>
      <button class="btn btn-outline-info px-4 px-md-5 mx-3 mx-md-2">
        <i class="fa fa-phone fa-2x"></i>
      </button>
      <button class="btn btn-outline-info px-4 px-md-5 mx-3 mx-md-2">
        <i class="fa fa-phone fa-2x"></i>
      </button>
    </div>
  </div>
</div>